.prod-cards-container {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .prod-card {
    padding: 10px;
    width: 200px;
    height: 425px;
    overflow: hidden;
    margin: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #ffffff; /* Background color */
  }

  .prod-card:hover {
    cursor: pointer;
    border: 1px solid #00000064; /* Primary accent */
    transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.prod-card img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  height: 250px;
}